@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0; 
   font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 30px; */
}
.body-login{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.heading-login{
    color: white;
    position: absolute;
    top: 80px;
    font-size: 35px;
}
.heading-login span{
    color: white;
    text-align: center;
    width: 70vw;
    display: inline-block;
    height: 10vh;
}
.container-login{
    background-color: #1d1c1c;
    height: 60vh;
    width: 35vw;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
}
.container-login label{
    width: 90%;
    color: white;
    padding: 6px ;
    font-size: 20px;
    cursor: pointer;

}
.container-login input{
    width: 90%;
    color: white;
    height: 6vh;
    font-size: 20px;
    border: none;
    border: 1px solid rgb(50, 49, 49);
    border-radius: 10px;
    padding: 2px 10px;
    background: none;
    cursor: pointer;
}
.container-login button{
        background-color: #1ed760;
        border-radius: 25px;
        width: 200px;
        height: 50px;
        padding: 10px;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
        margin-left: 10px;
}
.container-login button:hover{
        font-size: 26px;     
}
.end{
    color: white;
    font-size: 20px;
}
.end a{
    color: chartreuse;
}
@media (max-width:1200px) {
    .heading-login span {
        font-size: 30px;
        text-align: center;
        width: 70vw;
        display: inline-block;
    }
    .container-login{
        height: 65vh;
        width: 50vw;
        top: 85px;
    }
    .container-login label {
        font-size: 24px;
    }
    .container-login button{
        font-size: 17px;
        width: 156px;
        height: 30px;
        padding: 0px;
}
.container-login button:hover{
    font-size: 18px;     
}
   
}
@media (max-width:600px) {
    .heading-login{
        top: 70px;
        font-size: 22px;
    }
    .heading-login span{
        font-size: 20px;
        text-align: center;
        width: 80vw;
        display: inline-block;
    
    }
    .container-login{
        height: 68vh;
        width: 78vw;
    } 
    .container-login input {
        height: 4vh;
        font-size: 18px;
    }
}
